# Code owners for development branch - talentradar-frontend-project-rw
# .github folder is managed by bikaze and muhirwaJD
/.github/ @bikaze @muhirwaJD

# Everything else is managed by all four backend code owners
* @aimerukundo @aristoteMkaty @bencyubahiro77 @kevin-rukundo
