# Code owners for talentradar-frontend-project-rw
# Global owners for all files
* @aimerukundo @aristoteMkaty @bencyubahiro77 @kevin-rukundo

# GitHub folder specific owners
.github/ @bikaze @muhirwaJD

